#gameField {
  width: 500px;
  height: 500px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
}
#gameField span {
  display: inline-block;
  width: 25%;
  height: 25%;
  padding: 1%;
  box-sizing: border-box;
}
#gameField span .inner {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  border: 1px solid blue;
  cursor: pointer;
}
#gameField span.cel-0 {
  visibility: hidden;
}
