/**
 * Variables
 */
/**
 * Mixins
 */
/**
 * Animations
 */
.flip from {
  transform: rotateY(0deg);
}
.flip to {
  transform: rotateY(180deg);
}
.flip-another from {
  transform: rotateY(180deg);
}
.flip-another to {
  transform: rotateY(0deg);
}
.bounce 0% {
  -webkit-transform: translateY(-100%);
}
.bounce 20%,
.bounce 50%,
.bounce 80%,
.bounce 100% {
  -webkit-transform: translateY(0);
}
.bounce 40% {
  -webkit-transform: translateY(-30px);
}
.bounce 60% {
  -webkit-transform: translateY(-15px);
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@-moz-keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@-ms-keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@-o-keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@-webkit-keyframes flip-another-another {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes flip-another-another {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-ms-keyframes flip-another {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-o-keyframes flip-another {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes flip-another {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
/**
 * Main styles
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 10px / 1.8 Helvetica, Arial, sans-serif;
  color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#gameField {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 2px solid #f16745;
}
#gameField div {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 25%;
  padding: 1%;
}
#gameField div .inner,
#gameField div .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#gameField div .inner {
  display: block;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
  background: #ffc65d;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}
#gameField div .inner:hover {
  background: #ff8253;
}
#gameField div .back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: url("winner.png") no-repeat #ff8253;
  background-size: contain;
}
#gameField div.animate {
  -webkit-animation: flip 2s forwards;
  animation: flip 2s forwards;
}
#gameField div.animate .back {
  display: block;
  visibility: visible;
  -webkit-animation: flip2 2s forwards;
  animation: flip2 2s forwards;
}
#gameField div.cel-0 {
  visibility: hidden;
}
#gameField .playAgain {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -100px;
  width: 200px;
  height: 120px;
  background: #4cc3d9;
  border-radius: 4px;
  text-align: center;
  -webkit-animation: bounce 2s forwards;
  animation: bounce 2s forwards;
}
#gameField .playAgain p {
  font-size: 24px;
}
#gameField .playAgain button {
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 480px) {
  #gameField {
    width: 100%;
    height: auto;
  }
  #gameField div .inner {
    font-size: 12.5vw;
  }
}
